@import "../../../styles/main.scss";

.card-selected-type {
  width: 100%;
  height: auto;
  border: 1px solid $color-white-20;
  background-color: $color-white-10;
  border-radius: $m-16;
  @include display-flex(1, 1);
  justify-content: space-between;
  padding: $m-16;
  position: relative;

  .title {
    @include display-flex(1, 1);
    gap: $m-8;

    p {
      @extend .subheading-01-semibold;
      text-transform: uppercase;
    }
  }

  .types {
    @include display-flex(1, 1);
    gap: $m-24;

    .type {
      @include display-flex(1, 1);
      gap: ($m-8 + $m-4);
      @include animation-opacity(0.3);

      span {
        @extend .paragraph-01-medium;
        color: $color-white-100;
        text-transform: uppercase;
      }
    }
  }

  .icon-close {
    position: absolute;
    right: -8px;
    top: -8px;
    opacity: 0.8;
    cursor: pointer;
  }
}
