<nav>
  <!-- TIPO ENEMIGO -->

  <a href="tipo-enemigo" routerLink="/tipo-enemigo" routerLinkActive="active">
    <div class="item-nav">
      <icon [name]="ICONS.ENEMY"></icon>
      <span>Enemigo</span>
    </div>
  </a>

  <!-- TIPO DE MI POKEMON -->

  <a href="mi-tipo" routerLink="/mi-tipo" routerLinkActive="active">
    <div class="item-nav">
      <icon [name]="ICONS.MY_POKEMON"></icon>
      <span>Mi tipo</span>
    </div>
  </a>

  <!-- BUSCAR UN POKEMON ENEMIGO -->

  <a href="busqueda" routerLink="/busqueda" routerLinkActive="active">
    <div class="item-nav">
      <icon [name]="ICONS.SEARCH"></icon>
      <span>Buscar</span>
    </div>
  </a>
</nav>
