@import "../../../styles/main.scss";

//CLASE DINAMICA POR TIPO
@mixin badge-theme($solid, $gradient) {
  background: $gradient;

  .glow {
    box-shadow: 0 0 $m-16 0 $solid;
  }

  .ring {
    border: 2px solid $solid;
  }
}

.badge {
  //tamaño default
  width: $m-32;
  height: $m-32;
  border-radius: 100%;
  @include display-flex(1, 1);
  position: relative;
  background: $color-type-gradient-agua;

  // genera .badge.agua, .badge.bicho, .badge.fuego...
  @each $name, $config in $types {
    &.#{$name} {
      @include badge-theme(map-get($config, solid), map-get($config, gradient));
    }
  }

  .glow {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    box-shadow: 0 0 $m-16 0 $color-type-solid-agua;
    animation: up-ring 0.2s ease-in-out;
  }

  .ring {
    width: calc(100% + $m-8 + 1px);
    height: calc(100% + $m-8 + 1px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 100%;
    border: 2px solid $color-type-solid-agua;
    animation: up-ring 0.2s ease-in-out;
  }

  &.size-24 {
    width: $m-24;
    height: $m-24;
  }

  &.size-32 {
    width: $m-32;
    height: $m-32;
  }

  &.size-40 {
    width: $m-40;
    height: $m-40;
  }
}

@keyframes up-ring {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
